name: Build and Deploy to Firebase
on: 
  push:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CI: false
      REACT_APP_YOUR_SERVICE_ID: ${{ secrets.YOUR_SERVICE_ID }}
      REACT_APP_YOUR_TEMPLATE_ID: ${{secrets.YOUR_TEMPLATE_ID }}
      REACT_APP_YOUR_PUBLIC_KEY: ${{ secrets.YOUR_PUBLIC_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Install and build
        run: |
          npm install
          npm run build
      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: node-build
          path: build

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download builds
        uses: actions/download-artifact@v2
        with:
          name: node-build
          path: build
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy -P ${{ secrets.FIREBASE_PROJECT }} --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
